/* You can add global styles to this file, and also import other style files */

body {
  background-image: url('assets/images/world-travel-map-with-airplanes-flight-routes-and-pins-marker-illustration-vector.jpg');
  background-size: cover;             
  background-repeat: no-repeat;       
  background-position: center center; 
  background-attachment: fixed;       
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
